{% extends "base.html" %}

{% block content %}
    <form method='post' action='enter-data'>
        <label>
            <input type="text" name='title' value='{{title}}'/>
            {% if title == '' %}
            <span class='error'>Title goes here</span>
            {% endif %}
        </label>
        <br>
        <textarea type='text' name='entry'>{{entry}}</textarea><br>
        {% if entry == '' %}
        <span class='error'>Please make an entry</span>
        {% endif %}
        <br>
        <input type="submit" value='Add Entry' class="button"/>
    </form>


{% endblock %}